body{
    
    background-color: rgba(24, 104, 100, 0.534);;
}

#productos{
    text-align:center;
    border-width: 3px;
    border-radius: 60px;  
}


.encabezado{

    text-align:center;
    border-width: 10px;
    border-radius: 50px;
    display:block;
    margin:auto;
}